// compress: true;

body {
  font-family: "Roboto", sans-serif;
  /*font-family: "Playfair Display", serif;*/
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  color: #6c7279;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}
/*Section header*/
#header {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}
.header_content {
  width: 100%;
  height: 80px;
  display: flex;
}
.header_logo {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.header_img {
  max-width: 100%;
  height: auto;
}
.header_text {
  font-size: 30px;
  color: #00e0d0;
  margin-left: 15px;
}
.nav {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.nav_menu {
  list-style: none;
  display: flex;
}
.nav_item {
  margin-left: 25px;
}
.nav_item:first-child {
  margin-left: 0;
}
.nav_link {
  font-size: 13px;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  padding: 3px 3px;
  transition: all 0.5s linear;
}
.nav_link.active {
  color: #00e0d0;
}
.nav_link:hover {
  color: #00e0d0;
}
.burger_button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 10px 3px;
}
.burger_icon {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  color: transparent;
  font-size: 0;
  position: relative;
}
.burger_icon::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  bottom: -8px;
  z-index: 1;
}
.burger_icon::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: -8px;
  z-index: 1;
}
/*intro section*/
.intro {
  height: 700px;
  position: relative;
  width: 100%;
  background: url(../img/header/background_img.jpg) center no-repeat;
  background-size: cover;
  overflow: hidden;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(47, 42, 79, 0.9) 0%,
    rgba(65, 54, 101, 0.9) 50%,
    rgba(80, 63, 118, 0.9) 100%
  );
}
.intro_inner {
  margin-top: 200px;
  position: relative;
  text-align: center;
  max-width: 100%;
  padding: 0 160px;
}
.intro_title {
  font-family: "Playfair Display", sans-serif;
  font-size: 32px;
  font-weight: 800;
  color: #ffffff;
  margin-bottom: 25px;
}
.intro_title::after {
  content: "";
  margin: 0 auto;
  display: block;
  width: 50px;
  height: 2px;
  margin-top: 25px;
  background-color: #00e0d0;
}
.intro_text {
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 50px;
}
/*button*/
.button {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  text-transform: uppercase;
  font-family: inherit;
  text-decoration: none;
  cursor: pointer;
  color: #00e0d0;
  border: 1px solid #00e0d0;
  padding: 10px 15px;
  background: transparent;
  transition: background 0.3s linear;
}
.button:hover {
  background: #00e0d0;
  color: #ffffff;
}
/*about us content*/
.about_content {
  width: 100%;
  display: flex;
  margin: 70px 0;
  align-items: center;
}
.about_left {
  width: 30%;
}
.about_img {
  width: 230px;
  height: auto;
  padding-left: 60px;
}
.about_right {
  width: 70%;
  max-width: 540px;
  margin-left: 70px;
}
.about_title {
  font-size: 22px;
  font-family: "Playfair Display", sans-serif;
  color: rgb(65, 61, 75);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 20px;
}
.about_text {
  font-size: 14px;
  color: rgba(65, 61, 75, 0.749);
  line-height: 1.571;
  margin-bottom: 30px;
}
/*about us video content*/
.video {
  width: 100%;
  height: 500px;
  border-left: none;
  border-right: none;
  position: relative;
}
.video_content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#myVideo {
  position: absolute;
  z-index: -1;
  opacity: 0.9;
  width: 100%;
}
.video_overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(47, 42, 79, 0.6) 0%,
    rgba(65, 54, 101, 0.6) 50%,
    rgba(80, 63, 118, 0.6) 100%
  );
}
.video_title {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.watch_title {
  font-size: 16px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  line-height: 1.2;
}
.watch_icon {
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 30px;
  font-size: 6em;
}
/*expirience section*/
.expirience_block {
  display: block;
  width: 100%;
  height: 100%;
  margin-bottom: 60px;
}
.title_content {
  margin-top: 70px;
  text-align: center;
}
.expirience_title {
  font-size: 22px;
  font-family: "Playfair Display", sans-serif;
  color: rgb(65, 61, 75);
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 20px;
}
.expirience_suptitle {
  font-size: 14px;
  font-family: "Playfair Display" sans-serif;
  color: rgba(47, 45, 53, 0.749);
  line-height: 1.2;
}
.expirience_suptitle::after {
  content: "";
  display: block;
  width: 45px;
  height: 3px;
  margin: 0 auto;
  background-color: #c6c4c9;
  margin-top: 25px;
}
.expirience_content {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}
.expirience_item {
  text-align: center;
  max-width: 33.33333%;
  padding: 50px 30px;
  border-bottom: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
}
.expirience_item:nth-child(3) {
  border-right: none;
}
.expirience_item:nth-child(4) {
  border-bottom: none;
}
.expirience_item:nth-child(5) {
  border-bottom: none;
}
.expirience_item:nth-child(6) {
  border-bottom: none;
  border-right: none;
}
.item_img {
  margin-bottom: 35px;
}
.item_title {
  font-size: 14px;
  color: rgb(65, 61, 75);
  line-height: 1.2;
  margin-bottom: 20px;
}
.item_suptitle {
  font-size: 14px;
  color: rgba(51, 51, 51, 0.749);
  line-height: 1.571;
}
/*team section*/
.team_intro {
  background: url(../img/team/team_bg.png) no-repeat center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;
}
.team--title {
  color: rgb(255, 255, 255);
}
.team--suptitle {
  color: rgb(249, 249, 249);
}
.team_content {
  margin-top: 45px;
  margin-bottom: 70px;
  display: flex;
}
.team_block {
  width: 25%;
  margin: 0 25px;
  text-align: center;
  border: 1px solid #ffffff;
}
.block_img {
  width: 100%;
  height: 230px;
  background-color: #ffffff;
  margin-bottom: 20px;
}
.block_title {
  font-size: 14px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  margin-bottom: 12px;
}
.block_suptitle {
  font-size: 13px;
  color: rgba(250, 250, 250, 0.702);
  line-height: 1.2;
  margin-bottom: 25px;
}
.team_footer {
  width: 100%;
  text-align: center;
}
.team_text {
  font-size: 14px;
  color: rgb(243, 243, 243);
  line-height: 1.2;
  margin-bottom: 30px;
}
/*works content*/
.works_content {
  margin: 70px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.works_title h4 {
  text-transform: uppercase;
  font-size: 22px;
  font-family: "Playfair Display", sans-serif;
  color: rgb(65, 61, 75);
  font-weight: bold;
  line-height: 1.2;
}
.works_navi {
  display: flex;
  align-items: center;
}
.works_navi span {
  font-size: 14px;
  color: rgb(65, 61, 75);
  line-height: 1.2;
  margin-right: 5px;
}
.navi_button {
  text-decoration: none;
  cursor: pointer;
  display: block;
  font-size: 0;
  width: 15px;
  height: 15px;
  border-bottom: 2px solid #c6c4c9;
  border-right: 2px solid #c6c4c9;
  transform: rotate(-45deg);
}
.works_img {
  display: flex;
  flex-wrap: wrap;
}
.img_content1 {
  width: 10%;
  height: 200px;
}
.img_content2 {
  width: 20%;
  height: 200px;
  background-color: #acacac;
}
.works_button {
  margin: 70px 0;
  text-align: center;
}
/*developer section*/
.developer_intro {
  background: url(../img/developer/dev_bg.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}
.developer_content {
  width: 100%;
  height: 100%;
  margin: 65px 0;
  padding: 0 90px;
  text-align: center;
}
.developer_icon {
  color: rgba(255, 255, 255, 0.902);
  line-height: 0.22;
  margin-bottom: 45px;
}
.developer_text {
  font-size: 16px;
  font-family: "Playfair Display", sans-serif;
  color: rgba(255, 255, 255, 0.851);
  line-height: 1.625;
  margin-bottom: 50px;
}
.developer_title {
  font-size: 14px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  line-height: 1.571;
  margin-bottom: 10px;
}
.developer_suptitle {
  text-transform: uppercase;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.702);
  line-height: 1.692;
}
.developer_img {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_logo {
  padding: 0 10px;
}
.prew {
  text-decoration: none;
  font-size: 0;
  cursor: pointer;
  width: 15px;
  height: 15px;
  display: block;
  border-bottom: 2px solid #9f9f9f;
  border-left: 2px solid #9f9f9f;
  margin-right: 20px;
  transform: rotate(45deg);
}
.next {
  text-decoration: none;
  font-size: 0;
  cursor: pointer;
  width: 15px;
  height: 15px;
  display: block;
  border-bottom: 2px solid #9f9f9f;
  border-right: 2px solid #9f9f9f;
  margin-left: 20px;
  transform: rotate(-45deg);
}
/*contact section*/
.contact_block {
  margin: 60px 0;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.contact_form {
  width: 50%;
  padding: 0 50px;
}
.contact_form form {
  width: 100%;
}
.form_title {
  font-size: 22px;
  font-family: "Playfair Display", sans-serif;
  color: rgb(65, 61, 75);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 40px;
}
.form_input input:focus {
  outline: none;
}
.form_input input {
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
  border: 1px solid #e5e5e5;
}
.form_text textarea:focus {
  outline: none;
}
.form_text textarea {
  width: 100%;
  height: 200px;
  margin-bottom: 25px;
  border: 1px solid #e5e5e5;
  resize: none;
}
.contact_client {
  width: 50%;
  padding: 0 50px;
}
.contact_title {
  font-size: 22px;
  font-family: "Playfair Display", sans-serif;
  color: rgb(65, 61, 75);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 50px;
}
.content_logo {
  display: flex;
}
.left_logo {
  margin-right: 40px;
  text-align: center;
}
.right_logo {
  margin-left: 40px;
  text-align: center;
}
.client_img {
  margin-bottom: 48px;
}
.client_img:last-child {
  margin-bottom: 0;
}
/*footer*/
.footer_intro {
  background: url(../img/footer/footer_bg.jpg) no-repeat center;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: 400px;
  position: relative;
}
.footer_items {
  margin: 70px 0;
  width: 100%;
  display: flex;
}
.content_block {
  width: 33.33333%;
  margin: 0 25px 0 0;
}
.content_header {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.title_block {
  margin-left: 20px;
  font-size: 30px;
  color: #13c7c7;
  line-height: 1.2;
}
.block_text {
  font-size: 14px;
  color: rgb(255, 255, 255);
  line-height: 1.857;
  text-align: left;
  padding: 0 60px 0 0;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}
.block_text:last-child {
  margin-bottom: 0;
}
.title--2 {
  text-transform: uppercase;
  font-size: 15px;
  color: rgb(255, 255, 255);
  line-height: 1.733;
  padding-top: 20px;
}
.block_text p {
  margin-left: 10px;
}
.social {
  width: 33.33333%;
}
.social_items {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}
.social_items input {
  background-color: transparent;
  width: 210px;
  height: 50px;
  color: #ffffff;
  margin-right: 10px;
  border: 1px solid #e5e5e5;
  padding: 0 10px;
}
.social_items input:focus {
  outline: none;
}
.social_items a {
  background-color: #a29ab4;
  opacity: 0.5;
  text-decoration: none;
  display: inline-block;
  height: 50px;
  padding: 10px 20px;
  border: 1px solid #e5e5e5;
  color: white;
  transition: all 0.4s linear;
}
.social_items a:hover {
  opacity: 1;
}
.social_icons {
  display: flex;
}
.icon {
  background-color: transparent;
  color: #ffffff;
  border-radius: 50%;
  border: 1px solid #ffffff;
  padding: 10px 12px;
  margin-right: 12px;
}
.icon:last-child {
  margin-right: 0;
}
.footer_copyright {
  display: flex;
  align-items: center;
}
.copy_info {
  font-size: 14px;
  color: rgb(255, 255, 255);
  line-height: 1.857;
  margin-right: 40px;
}
.copy_info:nth-child(3) {
  margin-right: 0;
}
.copy_text {
  font-size: 14px;
  color: rgb(255, 255, 255);
  line-height: 1.857;
  text-align: right;
  width: 60%;
}
/*media queris*/
// Extra large devices (large desktops 1200px)
@media (max-width: 1200px) {
  /*nav*/
  .nav_menu {
    margin-right: 15px;
  }
}
// Large devices (desktops 992px)
@media (max-width: 992px) {
  .video {
    height: 415px;
  }
  .watch_icon {
    font-size: 5em;
  }
  /*team*/
  .team_content {
    margin-bottom: 40px;
  }
  .team_block {
    margin: 0 10px;
  }
  /*works*/
  .works_content {
    margin: 70px 15px;
  }
  /*developer*/
  .developer_content {
    margin: 45px 0;
    padding: 0 60px;
  }
  /*contact section*/
  .contact_block {
    flex-wrap: wrap;
  }
  .contact_form {
    width: 100%;
    margin-bottom: 30px;
  }
  .contact_client {
    width: 100%;
  }
  .left_logo{
    margin-right: 30px;
    }
  .client_img{
    width: 100%;
    height: auto;
    margin-bottom: 50px;
  }
  .right_logo{
    margin-left: 30px;
    }
 
}
// Medium devices (tablets 768px)
@media (max-width: 768px) {
  /*nav*/
  .nav_menu {
    display: none;
    width: 100%;
    margin: 0 0;
    flex-direction: column;
    position: absolute;
    top: 80%;
    right: 0;
    text-align: right;
    background: linear-gradient(
      90deg,
      rgba(47, 42, 79, 0.9) 0%,
      rgba(65, 54, 101, 0.9) 50%,
      rgba(80, 63, 118, 0.9) 100%
    );
  }
  .nav_menu.click {
    display: flex;
  }
  .nav_menu.click li {
    margin-right: 15px;
  }

  .burger_button {
    display: block;
    margin-right: 15px;
  }
  /*intro*/
  .intro_inner {
    margin-top: 150px;
  }
  /*about*/
  .about_img {
    padding-left: 5px;
  }
  .about_right {
    margin-left: 60px;
  }
  .about_title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  /*video*/
  .video {
    height: 310px;
  }
  .watch_icon {
    font-size: 4em;
  }
  .watch_title {
    font-size: 14px;
  }
  /*expirience*/
  .expirience_content {
    margin: 50px 5px 0 5px;
  }
  .expirience_item {
    max-width: 50%;
    border: 1px solid #ebebeb;
  }
  .expirience_item:nth-child(3) {
    border: 1px solid #ebebeb;
  }
  .expirience_item:nth-child(4) {
    border: 1px solid #ebebeb;
  }
  .expirience_item:nth-child(5) {
    border: 1px solid #ebebeb;
  }
  .expirience_item:nth-child(6) {
    border: 1px solid #ebebeb;
  }
  /*team*/
  .title_content {
    margin-top: 30px;
  }
  .team_content {
    margin: 25px 0 15px 0;
  }
  .team_block {
    margin: 0 8px;
  }
  .team--title {
    font-size: 16px;
    margin-bottom: 16px;
  }
  /*works*/
  .works_content {
    margin: 60px 25px;
  }
  /*developer*/
  .developer_content {
    margin: 35px 0;
    padding: 0 40px;
  }
  .developer_icon {
    margin-bottom: 20px;
  }
  .developer_text {
    margin-bottom: 20px;
  }
  /*contact section*/
 
  
}
// Small devices (landscape phones 576px)
@media (max-width: 576px) {
  /*intro*/
  .intro_inner {
    padding: 0 50px;
  }
  .intro_title {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .intro_title::after {
    margin-top: 20px;
  }
  .intro_text {
    margin-bottom: 20px;
  }
  /*about*/
  .about_content {
    flex-direction: column;
  }
  .about_left {
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
  }
  /*video*/
  .video {
    height: 170px;
  }
  .watch_icon {
    font-size: 3em;
  }
  .watch_title {
    font-size: 12px;
  }
  /*expirience*/
  .expirience_item {
    max-width: 100%;
  }
  /*team*/
  .block_img {
    height: 100px;
  }
  .team_content {
    flex-wrap: wrap;
    justify-content: center;
  }
  .team_block {
    width: 40%;
    margin-bottom: 20px;
  }
  /*works*/
  .works_title h4 {
    font-size: 14px;
  }
  .works_navi span {
    font-size: 12px;
  }
  .navi_button {
    width: 10px;
    height: 10px;
  }
  .img_content1 {
    width: 33.33333%;
  }
  .img_content2 {
    width: 33.33333%;
  }
  /*developer*/
  .developer_content {
    margin: 20px 0;
    padding: 0 20px;
  }
  .developer_icon {
    margin-bottom: 10px;
  }
  .developer_text {
    margin-bottom: 10px;
  }
  .developer_img {
    margin-top: 6px;
  }
  .prew {
    margin-right: 2px;
  }
  .next {
    margin-left: 2px;
  }
  .img_logo {
    padding: 0 2px;
  
  }
  /*contact section*/
  .content_logo{
    flex-wrap: wrap;
  }
  .left_logo{
    margin-right: 0;
  }
  .client_img{
    margin-bottom: 70px;
  }
  .right_logo{
    margin-left: 0;
  }
}
